SERVICE=commerce-core-go
ENV=development
APP_PORT=8080
GRPC_PORT=9090

DATABASE_URL=postgres://admin:admin@db:5432/mydb?sslmode=disable

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=mydb

DB_MAX_CONNS=25
DB_MIN_CONNS=5
DB_CONN_MAX_LIFETIME_MINUTES=5
DB_CONN_MAX_IDLE_TIME_MINUTES=5

JWT_SECRET=change-me
JWT_ACCESS_TOKEN_TTL_MINUTES=60